@mixin perfectly-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

$footer-background: #06052D;
$footer-text-color: #fff;
.mobile-only {
    display: block;
    @media (min-width: 800px) {
        display: none;
    }
}

.tablet-only {
    display: none;
    @media (min-width: 800px) {
        display: block;
    }
    @media (min-width: 1050px) {
        display: none;
    }
}

.desktop-only {
    display: none;
    @media (min-width: 1050px) {
        display: block;
    }
}

.HorizontalRule {
    @include perfectly-centered;
    margin: 30px 0;
    &-line {
        width: 150px;
        height: 2px;
        background: #3f546c;
    }
    @media (min-width: 800px) {
        display: none;
    }
}

.VerticalRule {
    display: none;
    margin: 0 20px;
    &-line {
        width: 2px;
        height: 220px;
        background: #3f546c;
    }
    @media (min-width: 800px) {
        display: block;
    }
    @media (min-width: 1050px) {
        margin: 0 30px;
    }
}

.NewFooter-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $footer-background;
}

.NewFooter {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    padding: 41px 33px;
    background: $footer-background;
    &-socials-legal {
        @media (min-width: 800px) {
            display: none;
        }
    }
    @media (min-width: 800px) {
        flex-direction: row;
    }
    @media (min-width: 1050px) {
        padding-bottom: 0;
    }
}