$header-background-color: #06052D;
$header-icon-color: #1eb8e7;
$dropdown-background-color: #06052D;
.DesktopHeader {
    display: flex;
    flex-direction: column;
    background: $header-background-color;
    color: #fff;
    i {
        color: $header-icon-color;
        width: 12px;
        height: 12px;
    }
    &-top {
        display: flex;
        align-items: center;
        padding: 12px 50px;
        font-size: 14px;
        text-transform: uppercase;
        ul>li:first-of-type {
            margin-right: 38px;
        }
        &-links {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                display: inline;
                font-weight: bold;
                letter-spacing: 1px;
                a {
                    color: #fff;
                }
            }
        }
        &-left {
            flex: 1;
        }
        &-center {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 80px;
                height: 75px;
            }
        }
        &-right {
            flex: 1;
            display: flex;
            justify-content: flex-end;
        }
    }
    &-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        &-links {
            margin: 0;
            padding: 0;
            list-style-type: none;
            &>li {
                display: inline-flex;
                height: 58px;
                margin: 0;
                font-weight: bold;
                letter-spacing: 1px;
            }
            &-item {
                position: relative;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 0 22px;
                height: 58px;
                a {
                    color: #fff;
                }
                i {
                    margin-left: 5px;
                    &.create-icon {
                        margin-right: 5px;
                        margin-left: 0;
                    }
                }
            }
            &-dropdown {
                position: absolute;
                z-index: 200;
                top: 100%;
                width: 200px;
                margin: 0;
                padding: 0;
                background: $dropdown-background-color;
                text-transform: initial;
                list-style-type: none;
                cursor: initial;
                li {
                    margin: 0;
                    font-size: 12px;
                    a {
                        display: block;
                        color: #fff;
                        font-weight: normal;
                        padding: 12px 8px;
                        &:hover {
                            background: #293f59;
                        }
                    }
                }
            }
        }
    }
}