$header-background-color: #06052D;
$header-icon-color: #1eb8e7;
$dropdown-background-color: #06052D;
@mixin mobile-header-menu-segment {
    margin: 0;
    padding: 25px 35px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    li {
        margin: 0;
    }
    li:not(:last-of-type) {
        margin-bottom: 22px;
    }
}

.MobileHeader {
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
    min-width: 340px;
    padding: 19px 40px;
    background: $header-background-color;
    color: #fff;
    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-menu-button {
            position: relative;
            font-size: 30px;
        }
        &-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 55px;
            }
        }
        div {
            width: 20px;
        }
    }
    &-menu {
        position: fixed;
        top: 80px;
        left: 0;
        width: 320px;
        height: calc(100vh - 80px);
        background: $header-background-color;
        color: #fff;
        overflow: auto;
        i {
            color: $header-icon-color;
        }
        a {
            color: #fff;
        }
        ul {
            list-style-type: none;
        }
        &-top {
            @include mobile-header-menu-segment;
            border-bottom: 1px solid #3e546d;
        }
        &-mid {
            @include mobile-header-menu-segment;
            border-bottom: 1px solid #3e546d;
        }
        &-bottom {
            @include mobile-header-menu-segment;
        }
        &-subitems {
            margin: 15px 0;
            padding: 0;
            text-transform: initial;
            li {
                margin-bottom: 0 !important;
                a {
                    display: block;
                    padding: 10px;
                    &:hover {
                        background: #293f59;
                    }
                }
            }
        }
    }
}