@import 'common/sass/mixins';
@import 'common/sass/variables';
.Tab {
    &-content {
        min-height: 50%;
        &-pane {
            background: #fff0;
            min-height: 1.5rem;
            padding: 1.5rem 2rem;
            margin: 1rem 0;
            border-radius: 2px;
            &.is-full-width {
                background: none;
                box-shadow: none;
                padding: 0;
            }
        }
    }
}

.Block {
    @extend .Tab-content-pane;
}